/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Adjust the size of the logo */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Space between logo and title */
}

h1 {
  color: #2bff00;
  margin-bottom: 20px;
}

#ingredient-input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #48ff00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #0056b3;
}

#recipe-list {
  margin-top: 20px;
}

.recipe-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-item h3 {
  color: #333;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.recipe-item ul {
  list-style-type: none;
  padding: 0;
}

.recipe-item ul li {
  margin-bottom: 5px;
}

.recipe-item p {
  margin-top: 10px;
  color: #555;
}
